<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="MoziFilmek">



</head>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="home">MoziFilmek</a>
  <form class="form-inline">

    <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">

  </form>

</nav>
<div>
  <a [routerLink]="['home']">Home</a>
</div>
<router-outlet>

</router-outlet>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Adatbázis alapú rendszerek &copy; 2019</p>
  </div>
  <!-- /.container -->
</footer>
</html>
